.container {
  height: 100vh;
  overflow: auto;
  background-color: #2244cc;
  :global(.ant-card){
    margin-left:auto;
    margin-right:auto;
    margin-top:calc(50vh - 240px);
    width:64%;
    min-width:320px;
    max-width:800px;
    overflow: hidden;
  }
  :global(.ant-card-body){
    padding:0;
  }
  .title{
    display: flex;
    align-items: center;
    margin-bottom:24px;
    .logo{
      width:32px;
      height:32px;
      margin-right:8px;
    }
    strong{
      font-size: 24px;
      white-space: nowrap;
      font-weight: 600;
    }
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    .loginForm{
      width:50%;
      min-width:240px;
      padding:32px;
      // background-color: #2244cc;
    }
    >.infoImg{
      width:50%;
      min-width: 240px;
      display: flex;
      align-items:end;
      justify-content: center;
      flex-direction: column;
      img{
        width:100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  // .content {
  //   padding: 32px 0 24px;
  // }
}
