.container {
    height: 100vh;
    overflow: auto;
    background-color: rgb(37, 99, 235);

    :global(.ant-card) {
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(50vh - 300px);
        width: 72%;
        min-width: 320px;
        max-width: 920px;
        overflow: hidden;
    }

    :global(.ant-card-body) {
        padding: 0;
    }

    :global(.ant-input:-internal-autofill-selected) {
        box-shadow: inset 0 0 0 1000px #fff !important;
    }

    :global(.ant-input:-internal-autofill-selected:focus) {
        box-shadow: inset 0 0 0 1000px #fff !important;
    }

    .title {
        margin-bottom: 24px;
        text-align: center;

        .logo {
            width: 64px;
            height: 64px;
            margin: 0 auto 8px auto;
            display: block;
        }

        strong {
            font-size: 24px;
            white-space: nowrap;
            font-weight: 600;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;

        .loginForm {
            width: 50%;
            min-width: 240px;
            padding:32px 64px 80px 64px;
            :global(.ant-input-affix-wrapper-lg){
                padding:11px 13px;
            }
            :global(.ant-btn-lg){
                height:48px;
            } 
        }

        >.infoImg {
            width: 50%;
            min-width: 240px;
            box-sizing: border-box;
            background-color:#3554e4;
            // background-color:rgb(29, 78, 216);
            color:#fff;
            position: relative;
            >div{
                padding:32px;
                margin-bottom:32px;
                position:absolute;
                top:0;
                z-index:2;
                h2{
                    margin-top: 0;
                }
                >p{
                    font-size:16px;
                }
                h3{
                    margin-bottom:0;
                }
                ul{
                    margin-top:0;
                    margin-bottom:0;
                }
                li{
                    font-size: 16px;
                }
            }
            img {
                width: 100%;
                display: block;
                bottom:0;
                position: absolute;
                z-index:1;
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
        background-repeat: no-repeat;
        background-position: center 110px;
        background-size: 100%;
    }

    // .content {
    //   padding: 32px 0 24px;
    // }
}