.topBar {
    display: flex;
    height: 64px;
    align-items: center;
    background-color: #001529;

    .actions {
        display: flex;
        gap: 16px;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.toolBar {
    width: 56px;
    height: calc(100% - 48px);
    // display: flex;
    // flex-direction: column;
    padding-top:24px;
    padding-bottom:24px;
    .iconButtonBox{
        margin-bottom:16px;
        text-align: center;
    }
}

.sideBar {
    width: 80px;
    height: 100%;
}

.canvas {
    flex: 1;
}