.body {
    background-color:#f2eef0;
    padding:0;
    margin:0;
}
.container {
    width:1200px;
    margin:0 auto;
    background-color: #f6f7f8;
    min-height: 100vh;
}
.container h2{
    margin:0;
    font-size: 20px;
}