<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>开源软件中心</title>
  <link rel="stylesheet" href="mybase.css" />
  <link rel="stylesheet" href="libre.css" />
  <script src="./vue.global.js"></script>
</head>

<body>
  <header>
    <div class="main">
    <div class="page-name">
      <h1 class="text-3xl font-bold">Game Dev Resource Hub</h1>
      <p class="text-muted-foreground">Essential Resources for Indie Game Developers</p>
    </div>
    </div>
  </header>
  <main id="app">
    <div class="gutter-grid">
      <div class="cate-card" v-for="item in homeData.items">
        <img :src="item.iconUrl" alt="" />
        <h3>{{item.appName}}</h3>
        <p>
          {{item.appDescription}}
        </p>
        <a href="">Learn More</a>
      </div>
    </div>
    <div class="gutter-grid">
      <div class="app-card" v-for="item in homeData.items">
        <img :src="item.iconUrl" alt="" />
        <strong>{{item.appName}}</strong>
        <p>{{item.appDescription}}</p>
        <span><a>Download</a></span>
      </div>
    </div>
  </main>
  <script src="./mock.js"></script>
  <script>
    const { createApp, ref } = Vue;
    createApp({
      setup() {
        const message = ref("Hello vue,你好吗!");
        const homeData = ref({
          items: libres,
          total: 20,
        });
        const change = () => {
          message.value = "Vue修改成功!";
        };
        return {
          message,
          change,
          homeData,
        };
      },
    }).mount("#app");
  </script>
</body>

</html>