header {
    background-color: rgb(250, 204, 21);
    padding: 4px 0 8px 0;
    margin-bottom: 24px;
}

header h1 {
    margin: 0 auto;
}

header p {
    margin: 0;
}

main,
.main {
    display: block;
    width: 80%;
    margin: 0 auto;
}