body{
    margin: 0;
    padding:0;
}
header,
footer {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
}

header.sticky{
    /* background: linear-gradient(#6340ff, #9f89ff); */
    background:rgba(0, 0, 16, 0.6);
    border-bottom: 1px solid #22222f;
    backdrop-filter: blur(8px);
}

header>.container{
    display: flex;
    align-items: center;
}

footer {
    justify-content: space-between;
    border-top: 1px solid #f2f2f2;
    background-color: #f6f6ff;
}
footer a{
    color: #666;
    text-decoration: none;
}
header a.site-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

header a>svg {
    margin-right: 8px;
    width: 48px;
    height: 48px;
}

header a>strong {
    font-size: 24px;
}

header nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

header nav>a {
    color: #fff;
    text-decoration: none;
}

main {
    min-height: calc(100vh - 130px);
    margin: 0;
}
main>section{
    margin-top:48px;
}
main>section h2{
    margin-top:0;
    margin-bottom:0;
}
main>section p{
    margin-top:0;
    margin-bottom:0;
    color:#666;
    font-size:12px;
    margin-left:1em;
}

.module-title{
    display: flex;
    align-items:baseline;
    margin-bottom:16px;
    padding-left:8px;
    padding-right:8px;
}

.module-title a{
    margin-left:auto;
    text-decoration: none;
    color:#999;
}
.poster{
    background-image: url("../images/cb02.png");
    background-size: 100% 100%;
    height:560px;
}

.poster>section{
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    height: 560px;
}

.poster-inner{
    color: #fff;
    text-align: center;
    padding-top:200px;
}
.poster-inner>h1{
    margin-top:0;
    font-size: 32px;
    margin-bottom: 24px;
}
.poster-inner>p{
    font-size: 24px;
    margin-top:0;
    margin-bottom: 64px;
}

.poster-inner>a.black-button{
    text-decoration: none;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #000; /* 黑色背景 */
    color: #fff; /* 白色文字 */
    cursor: pointer;
    transition: all 0.3s ease; /* 平滑过渡效果 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

/* 鼠标悬停效果 */
.black-button:hover {
    background-color: #333; /* 悬停时加深背景颜色 */
    transform: translateY(-2px); /* 上升效果 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 加深阴影效果 */
}

/* 按钮激活效果 */
.black-button:active {
    transform: translateY(0); /* 重置位置 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 减弱阴影效果 */
}