// .layout {
//   display: flex;
//   background-color: #f2f2f2;
//   padding: 24px;
//   border-radius: 12px;
//   column-gap: 24px;
//   .leftMenu {
//     background-color: #fff;
//     border-radius: 12px;
//   }

//   .rightContent {
//     flex: 1;
//     min-width: calc(100% - 240px);
//   }
// }
// #components-layout-demo-top-side .logo {
//   float: left;
//   width: 120px;
//   height: 31px;
//   margin: 16px 24px 16px 0;
//   background: rgba(255, 255, 255, 0.3);
// }
.layout{
  height:100%;
}
.logo {
  height: 64px;
  line-height: 64px;
  overflow: hidden;
  will-change: filter;
  padding: 0 16px;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logo > span {
  line-height: 64px;
  height: 64px;
  vertical-align: middle;
}
.logo > span > img {
  vertical-align: middle;
  margin-bottom:6px;
  width:28px;
  height:28px;
}
.logo > strong {
  font-size: 18px;
  display: inline-block;
  line-height: 64px;
  height: 64px;
  margin-left:8px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.headerRight{
  margin-left:auto;
  position: relative;
}
.menu {
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.siderBottom{
  height:36px;
  background-color: #102539;
  display: flex;
  align-items: center;
   span:nth-of-type(1){
    color:#f2f2f2;
    font-size: 12px;
  }
   span:nth-of-type(2){
    width:36px;
    height:36px;
    line-height:36px;
    color:#fff;
    cursor: pointer;
    text-align: center;
  }
}
.pageLoading{
  height:calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}